// nextflow.config

process.container = 'yuntaoyang1995/rnaseq:v3'
docker.enabled = true

params {
    metadata = "$projectDir/data/metadata.csv"
    genomeFile = "$projectDir/data/reference_genome.fasta.gz"
    gtfFile = "$projectDir/data/gene_annotation.gtf.gz"
    outdir = "$projectDir/output/"
}

profiles {
    custom {
        executor {
            name = 'local'
            queueSize = 5 // This applies globally to all processes under this profile
        }
        process {
            withName: 'TrimGalore' {
                cpus = 4
            }
            withName: 'StarAlign' {
                cpus = 16
            }
            withName: 'StarIndex' {
                cpus = 32
            }
        }
    }
}