// nextflow.config

params {
    metadata = "$projectDir/data/metadata.csv"
    genomeFile = "$projectDir/data/reference_genome.fasta.gz"
    gtfFile = "$projectDir/data/gene_annotation.gtf.gz"
    outdir = "$projectDir/output/"
}

profiles {
    custom {
        executor {
            name = 'local'
            queueSize = 2 // This applies globally to all processes under this profile
        }
        process {
            withName: 'TrimGalore' {
                cpus = 16 // Use 16 CPUs for TrimGalore
            }
            withName: 'StarAlign' {
                cpus = 16 // Use 16 CPUs for STAR alignment
            }
            withName: 'StarIndex' {
                cpus = 16 // Use 16 CPUs for STAR indexing
            }
        }
    }
}